<!DOCTYPE html>
<html>
    <head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
	</head>
	<body>
        <h2>Currency Convertor</h2>
        <table>
            <tr>
                <th>Original Amount</th>
                <th>From</th>
                <th>To</th>
                <th>Converted Amount</th>
            </tr>
            <% if @exchanges_history.empty? || @exchanges_history.nil? %>
                <tr>
                    <td colspan="4">Oops! No data available at the moment.</td>
                </tr>
            <% end %>
            <% @exchanges_history.each do |id, record| %>
                <tr>
                    <td><%= record[:amount] %></td>
                    <td><%= record[:from] %></td>
                    <td><%= record[:to] %></td>
                    <td><%= record[:converted_amount] %></td>
                </tr>
            <% end %>
        </table>
        <br/>
        <span>
            <a href="/">Convert again</a>
            <a href="/history" style="padding-left: 10px;">View conversion history</a>
        </span>
	</body>
</html>