<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
        <h2>Currency Convertor</h2>
        <form method="POST" action="/convert">
            <p>Enter the amount: <input type="number" name="amount" required step=".01"></p>
            <label for="from">From currency:</label>

			<select id="from" name="from">
				<option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="CHF">CHF</option>
            </select>&nbsp;&nbsp;&nbsp;

            <label for="to">To currency:</label>
			<select id="to" name="to">
				<option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="CHF">CHF</option>
            </select><br/><br/>

            <input type="Submit">
        </form>
        <br/>
        
        <a href="/history">View conversion history</a>
	</body>
</html>