<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
        <h2>Currency Convertor</h2>
        <% if @from == @to %>
            <h3 style="color: red;">Error! Currencies should be different for conversion.</h3>
            <a href="/">&lt;-Back</a>
        <% end %>
        <% if @converted_amount %>
            <h3 style="color: green;">
                <%= @from %> <%= @amount %> is equal to <%= @to %> <%= @converted_amount %>
            </h3>
            <span>
                <a href="/">Convert again</a>
                <a href="/history" style="padding-left: 10px;">View conversion history</a>
            </span>
        <% end %>
	</body>
</html>